@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.maket{
    display: block;
    width: auto;
    height: auto;
}
    .main1{
        width: 1510px;
        height: 630px;
        margin-top: 1853px;
    }

        .main1__header{
            width: 1170px;
            height: 150px;

            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 170px;

            text-align: center;
            vertical-align: bottom;
            box-sizing: border-box;
            font-family: Raleway, 'Arial Narrow', Arial, sans-serif;
            padding-bottom: 0px;
            display: inline;
            align-items: center;
        }

        .main1__undscrtxt{
            width: 1169px;
            height: 21px;
            margin-left: 170px;
            color: #86878B;
            font-weight: 400;
            font-size: 16px;
            align-items: center;
            text-align: center;
        }
    /* <-----------------------------------------> */
        .main1__second{
            
            width: 1510px;
            height: 500px;
            display: flex;}

            .second__bulb{
                width: 542px;
                height: 454px;
                box-sizing: border-box;
                text-align: center;
                padding-left: 172px;
                padding-top: 110px;}

                .bulb__img{
                    width: 92px;
                    height: 92px;
                    display:inline;}

                .bulb__alt{
                    width: 370px;
                    height: 100px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    padding-top: 38px;
                    text-align: center;
                    font-family: 'Open Sans', Courier, monospace;
                    box-sizing: border-box;}

                .bulb__descr{
                    width: 370px;
                    height: 105px;
                    text-align: center;
                    font-family: Railway, 'Open Sans';
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    box-sizing: border-box;}
        /* <-----------------------------------------> */
            .second__keyboard{
                width: 400px;
                height: 454px;
                box-sizing: border-box;
                align-items: center;
                padding-left: 30px;
                padding-top: 110px;
                text-align: center;}

                .keyboard__img{
                    width: 92px;
                    height: 92px;
                    display:inline;}

                .keyboard__alt{
                    width: 370px;
                    height: 100px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    text-align: center;
                    padding-top: 38px;
                    font-family: 'Open Sans', Courier, monospace;
                    box-sizing: border-box;}

                .keyboard__descr{
                    width: 370px;
                    height: 105px;
                    text-align: center;
                    font-family: Railway, 'Open Sans';
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    box-sizing: border-box;}
        /* <-----------------------------------------> */
            .second__lightning{
                width: 400px;
                height: 454px;
                box-sizing: border-box;
                align-items: center;
                padding-left: 30px;
                padding-top: 110px;
                text-align: center;}

                .lightning__alt{
                    width: 370px;
                    height: 100px;
                    font-weight: 700;
                    font-size: 24px;
                    padding-top: 38px;
                    line-height: 33px;
                    text-align: center;
                    font-family: 'Open Sans', Courier, monospace;
                    box-sizing: border-box;}

                .lightning__img{
                    width: 92px;
                    height: 92px;
                    display:inline;}

                .lightning__descr{
                    width: 370px;
                    height: 105px;
                    text-align: center;
                    font-family: Railway, 'Open Sans';
                    font-size: 18px;
                    line-height: 21.13px;
                    text-align: center;
                    box-sizing: border-box;}
